<div class="jumbotron">
    <h1>City of Philadelphia</h1>
    <p class="lead">Office of Innovation and Technology</p>
    <p><a href="http://www.phila.gov" class="btn btn-primary btn-lg">Phila.Gov &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Welcome</h2>
        <p>
            City of Philadelphia
        </p>
        <p><a class="btn btn-default" href="http://www.phila.gov">Phila.Gov &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Innovation</h2>
        <p>Office of Innovation and Technology</p>
        <p><a class="btn btn-default" href="http://www.phila.gov/oit">Phila.Gov/OIT &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Recreation</h2>
        <p>Philadelphia Streets Department</p>
        <p><a class="btn btn-default" href="http://www.phila.gov/streets">Phila.Gov/Streets &raquo;</a></p>
    </div>
</div>