#LoginEmail{
  width:50%;
  display: inline-block;
}
.checkbox-columns{
  -webkit-columns: 230px;
     -moz-columns: 230px;
          columns: 230px;
}

/* Override the default bootstrap behavior where horizontal description lists
   will truncate terms that are too long to fit in the left column
*/

.dl-horizontal dt { white-space: normal; }

/* Set width on the form input elements since they're 100% wide by default */

input,
select,
textarea { /*max-width: 280px;*/ }

.marg-top-20 { margin-top: 20px; }

label { display: inline-block; }

.validationMessage { color: Red; }

.input-validation-error { color: Orange; }

.input-validation-error-pink { color: Pink; }

.resize {
    border-spacing: 2px;
    border-style: outset;
    border-width: 1px;
    width: 100%;
}

.resize td, .resize th {
    border-style: inset;
    border-width: 1px;
}

.searchGroup {
    float: left;
    margin-left: 1em;
    width: auto;
}

h2 { padding-top: 20px; }

h2:first-of-type { padding-top: 0; }

ul { padding: 0; }

.pagination {
    height: 36px;
    margin: 18px 0;
}

.pagination ul {
    -moz-border-radius: 3px;
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    -webkit-border-radius: 3px;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 3px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    display: inline-block;
    *display: inline;
    margin-bottom: 0;
    margin-left: 0;
    /* IE7 inline-block hack */

    *zoom: 1;
}

.pagination li { display: inline; }

.pagination a {
    border: 1px solid #ddd;
    border-left-width: 0;
    float: left;
    line-height: 34px;
    padding: 0 14px;
    text-decoration: none;
}

.pagination a:hover,
.pagination .active a { background-color: #0088cc; }

.pagination .active a {
    color: #ffffff;
    cursor: default;
}

.pagination .disabled span,
.pagination .disabled a,
.pagination .disabled a:hover {
    background-color: transparent;
    color: #999999;
    cursor: default;
}

.pagination li:first-child a {
    -moz-border-radius: 3px 0 0 3px;
    -webkit-border-radius: 3px 0 0 3px;
    border-left-width: 1px;
    border-radius: 3px 0 0 3px;
}

.pagination li:last-child a {
    -moz-border-radius: 0 3px 3px 0;
    -webkit-border-radius: 0 3px 3px 0;
    border-radius: 0 3px 3px 0;
}

.pagination-centered { text-align: center; }

.pagination-right { text-align: right; }

.pager {
    list-style: none;
    margin-bottom: 18px;
    margin-left: 0;
    text-align: center;
    *zoom: 1;
}

.pager:before,
.pager:after {
    content: "";
    display: table;
}

.pager:after { clear: both; }

.pager li { display: inline; }

.pager a {
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 15px;
    display: inline-block;
    padding: 5px 14px;
}

.pager a:hover {
    background-color: #f5f5f5;
    text-decoration: none;
}

.pager .next a { float: right; }

.pager .previous a { float: left; }

.pager .disabled a,
.pager .disabled a:hover {
    background-color: #fff;
    color: #999999;
    cursor: default;
}


/*.map {
   position: fixed;
   width: 400px;
   height: 400px;
   border:#555555 2px solid;
}*/

/*.map-container {
    position: relative;
    height: 300px;
    width: 100%;
}

.map-container .map
{
    height: 100%;
}*/



/*.Flexible-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.Flexible-container iframe,
.Flexible-container object,
.Flexible-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}*/


#ResourceTable {
    /*Remove bullets from our table*/
    list-style-type: none;
}

#AddResourcePage {
    /*The alpha style pushes the last div over to the right column
    This pushes it back to the left and makes it larger*/
    /*float: left;
    width: 75%;*/
}

#ContactList {
    /*Remove bullets from our table*/
    list-style-type: none;
}

.ContactRow { width: 75%; }

.marg-top-20 { margin-top: 20px; }

.details {
    margin-top: 5px;
    padding: 10px;
}

.GetCodeButton { margin: 10px 0; }

#event-table p { font-size: 80%; }

#event-table h3 { margin-bottom: .2rem; }

#AccountContactHeader p {
    font-size: 80%;
    margin: 0em 0;
}

#AppNameBanner { margin-top: 22; }

#AppNameBanner h2 { text-align: right; }

.pad-25 { padding-top: 25px; }

.marg-bottom-20 { padding-bottom: 20px; }

.no-padding { padding: 0 0 0 0; }

.no-margin { margin: 0 0 0 0; }

/*Login screen, puts buttons to the right of the contact name in our LI rows*/

.ContactName {
    float: left;
    vertical-align: bottom;
    width: 50%;
}

.background-color { background: #f1f3f1; }

.GetCodeButton { }

.RemoveResourceButton { margin-top: 20px; }

#AccountDetails { /*background-color: #FFFFDE;*/ }

#UserDetails { /*background-color: #FFFFDE;*/ }


.gridStyle {
    border: 1px solid rgb(212, 212, 212);
    height: 1000px;
    width: 800px;
}

.loading-indicator {
    display: none;
    left: 50%;
    margin-left: -26px;
    margin-top: -26px;
    position: absolute;
    top: 50%;
    z-index: 9999;
}

.checkbox-grid li {
    display: block;
    float: left;
    width: 25%;
}



.mask {
    display: none; /*This hides the mask*/
}

.mask .ajax {
    background-image: url(~/Content/app/images/loading.png);
    display: block;
    height: 100%;
    position: relative; /*required for z-index*/
    width: 100%;
    z-index: 1000; /*puts on top of everything*/
}

/*#esrimap {
    width: 100%;
    height: 400px;
    display: block;
    float: left;
    position: relative;
}*/

.tooltip-icon{
  display: inline-block;
}
#tooltip
{
    text-align: center;
    color: #fff;
    background: #111;
    position: absolute;
    z-index: 100;
    padding: 15px;
}

    #tooltip:after /* triangle decoration */
    {
        width: 0;
        height: 0;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-top: 10px solid black;
        content: '';
        position: absolute;
        left: 50%;
        bottom: -10px;
        margin-left: -10px;
    }

        #tooltip.top:after
        {
            border-top-color: green;
            border-bottom: 10px solid ;
            top: -20px;
            bottom: auto;
        }

        #tooltip.left:after
        {
            left: 10px;
            margin: 0;
        }

        #tooltip.right:after
        {
            right: 10px;
            left: auto;
            margin: 0;
        }




/* Tabs container */
.r-tabs {
	position: relative;

	/*background-color: white;

	border-top: 1px solid gray;
	border-right: 1px solid black;
	border-left: 1px solid green;
	border-bottom: 4px solid red;
	border-radius: 4px;*/

}

/* Tab element */
.r-tabs .r-tabs-nav .r-tabs-tab {
	position: relative;
	background-color: #f1f3f1;
    
     border-bottom: 1px solid grey;
    border-right: 1px solid grey;
    border-top: 1px solid grey;
    border-left: 1px solid grey;
	border-top-right-radius: 4px;
	border-top-left-radius: 4px;
}

/* Tab anchor */
.r-tabs .r-tabs-nav .r-tabs-anchor {
	display: inline-block;
	padding: 10px 12px;

	text-decoration: none;
	text-shadow: 0 1px rgba(0, 0, 0, 0.4);
	font-size: 14px;
	font-weight: bold;
	color: black;
    border: 10px;
    border-color: black;
}

/* Disabled tab */
.r-tabs .r-tabs-nav .r-tabs-state-disabled {
	opacity: 0.5;
}

/* Active state tab anchor */
.r-tabs .r-tabs-nav .r-tabs-state-active .r-tabs-anchor {
	color: white;
	text-shadow: none;

	background-color: #027EA4;

	border-top-right-radius: 4px;
	border-top-left-radius: 4px;
}

/* Tab panel */
.r-tabs .r-tabs-panel {
	background-color: #f1f3f1;

	border-bottom: 4px solid grey;
    border-right: 2px solid grey;
    border-top: 1px solid grey;
    border-left: 1px solid grey;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;

}

/* Accordion anchor */
.r-tabs .r-tabs-accordion-title .r-tabs-anchor {
	display: block;
	padding: 10px;

	background-color: #f1f3f1;
	color: black;
	font-weight: bold;
	text-decoration: none;
	text-shadow: 0 1px rgba(0, 0, 0, 0.4);
	font-size: 14px;


    border-bottom: 1px solid grey;
    border-right: 1px solid grey;
    border-top: 1px solid grey;
    border-left: 1px solid grey;
	border-top-right-radius: 4px;
	border-top-left-radius: 4px;
}

/* Active accordion anchor */
.r-tabs .r-tabs-accordion-title.r-tabs-state-active .r-tabs-anchor {
	background-color: #027EA4;
	color: #f1f3f1;
	text-shadow: none;


}

.r-tabs-accordion-title.r-tabs-state-active {
    border-bottom: 1px solid #026583;
    border-right: 1px solid #026583;
    border-top: 1px solid #026583;
    border-left: 1px solid #026583;
    border-top-right-radius: 4px;
	border-top-left-radius: 4px;
}

/* Disabled accordion button */
.r-tabs .r-tabs-accordion-title.r-tabs-state-disabled {
	opacity: 0.5;
}

/* Buttons */
button {
	display:inline-block;
	/*margin-top: 10px;
	margin-right: 10px;
	padding: 10px 20px;*/
	line-height: 100%;

	color: green;
	font-size: 14px;
	text-align: center;
	text-shadow: 0 1px rgba(0, 0, 0, 0.3);
	vertical-align: middle;
	font-weight: bold;
	
	border: 0;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background-color: chartreuse;
	box-shadow: 0px 3px 0px 0px #00ab94;
	
	cursor: pointer;
}

/* Info bar */
.info {
	display:inline-block;
	margin-top: 10px;
	margin-right: 10px;
	padding: 10px 20px;
	width: 300px;
	line-height: 100%;

	font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
	font-size: 14px;
	color: red;
	border: 2px solid red;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background-color: deeppink;

	cursor: pointer;
} 


label { 
   cursor: auto !important; 
}

i {
    cursor: pointer !important;
}

/*td {
  display: block; /* or inline-block */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}*/
/*th {
      display: block;
   overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

}*/

.truncate-ellipsis {
    display: table;
    table-layout: fixed;
    width: 100%;
    white-space: nowrap;
}
 
.truncate-ellipsis > * {
    display: table-cell;
    overflow: hidden;
    text-overflow: ellipsis;
}

.button.icon.actions {
    width: 225px;
}

@media screen and (max-width: 768px) {
    table {
        display: block;
        overflow-x: auto;
    }

    .checkbox-grid li {
        display: block;
        float: left;
        width: 100%;
    }

   .search-button {
       display: inline;
   }

   .button.icon.actions {
    width: 100%;
    }
}

