#ResourceTable {
    /*Remove bullets from our table*/
    list-style-type: none;
}

#AddResourcePage {
    /*The alpha style pushes the last div over to the right column
    This pushes it back to the left and makes it larger*/
    /*float: left;
    width: 75%;*/
}

#ContactList {
    /*Remove bullets from our table*/
    list-style-type: none;
}

.ContactRow { width: 75%; }

.marg-top-20 { margin-top: 20px; }

.details {
    margin-top: 5px;
    padding: 2px;
}

.GetCodeButton { margin: 10px 0; }

#event-table p { font-size: 80%; }

#event-table h3 { margin-bottom: .2rem; }

#AccountContactHeader p {
    font-size: 80%;
    margin: 0em 0;
}

#AppNameBanner { margin-top: 22; }

#AppNameBanner h2 { text-align: right; }

.pad-25 { padding-top: 25px; }

.marg-bottom-20 { padding-bottom: 20px; }

.no-padding { padding: 0 0 0 0; }

.no-margin { margin: 0 0 0 0; }

/*Login screen, puts buttons to the right of the contact name in our LI rows*/

.ContactName {
    float: left;
    vertical-align: bottom;
    width: 50%;
}

.background-color { background: #f1f3f1; }

.GetCodeButton { }

.RemoveResourceButton { margin-top: 20px; }

#AccountDetails { /*background-color: #FFFFDE;*/ }

#UserDetails { /*background-color: #FFFFDE;*/ }


.gridStyle {
    border: 1px solid rgb(212,212,212);
    width: 800px; 
    height: 1000px;
}

.loading-indicator {
    display: none;
    left: 50%;
    margin-left: -26px;
    margin-top: -26px;
    position: absolute;
    top: 50%;
    z-index: 9999;
}

.checkbox-grid li {
    display: block;
    float: left;
    width: 25%;
}

@media screen and (max-width: 640px) {
	table {
		overflow-x: auto;
		display: block;
	}

    .checkbox-grid li {
    display: block;
    float: left;
    width: 100%;
}
}

.mask{
  display: none; /*This hides the mask*/
}

.mask .ajax{
  display: block;
  width: 100%;
  height: 100%;
  position: relative; /*required for z-index*/
  z-index: 1000; /*puts on top of everything*/
  background-image: url (~/Content/app/images/loading.png);
}